<h1>Home</h1>

<article>
	<h3>Membership</h3>

	<p>For our 2013/14 year we welcome 15 new members – David and Julia Aldous- Cook, Naomi Aruliah, Mansoureh de Brett, Thelma Drake, Andrew and Gillian Eperson, Geoff Gunton, Pam Hudson, Jean Hunt, Yvonne Jessop, Sue Muckle, Liz Swinton, Byron Theo and Barbara Verdie.</p>

	<p>The membership of the Club is currently 78, with 66 primarily playing Croquet and 12 primarily playing Bowls.</p>
</article>

<article>
	<h3>Club Sessions</h3>

	<p>There are Club sessions for Golf Croquet on Tuesday and Wednesday mornings, Thursday and Sunday afternoons and Wednesday evening. There is one session for Association Croquet each Sunday morning and two sessions for Bowls on Monday and Wednesday afternoons.</p>

	<p>Some members have very kindly agreed to try to attend some of the Golf Croquet Club sessions on a regular basis so that any member turning up has someone to play with. These are normally the Tuesday and Wednesday morning and Thursday afternoon sessions. If you arrive at a Club session and there is no one else there it is a good opportunity to set the hoops out and do some practice. This sort of practice can be very valuable in improving your skills.</p>

	<p>Please play on the full lawn when you can as it is much better practice. The half lawns should normally only be used when there are more than 8 members at a session.</p>
</article>

<article>
	<h3>Coaching</h3>

	<p>The Club now has 3 qualified Croquet coaches – Ian Cobbold for Golf and Neil Coote and Geoff Gunton for Association.</p>

	<p>Ian has already done some coaching sessions this year and will be offering some more dates shortly, giving initial priority to newer members. Neil and Geoff would be glad to hear from any members who would like to learn (more) about Association croquet.</p>

	<p>If any members would like coaching for Bowls please contact John Davies or Ben Bennett.</p>
</article>

<article>
	<h3>Public Coaching Course</h3>

	<p>We will again be running a Croquet course for members of the public which will take place on Tuesday and Thursday evenings between 6th and 22nd August. Last year’s course produced 4 new members for the Club.</p>

	<p>As we did last year, if there are spare spaces on the course these will be offered to existing members.</p>
</article>

<article>
	<h3>Social Events</h3>

	<p>Tea and cakes afternoons with Golf Croquet and Bowls. These Saturday afternoon sessions have proved very popular with members and the Committee is very grateful to Angeles Walford and her band of cake makers for putting them on. The next one is on Saturday 20th July starting at 2pm and the following one on Saturday, 14th September.</p>

	<p>Angeles is planning a lunchtime BBQ on Sunday 18th August. Those members with e-mail will have received separate notification of this. Those members not on e-mail will find a notice about the BBQ in the same envelope as this newsletter.</p>

	<p>Looking further ahead reserve the dates of  Saturday 26th October for our Quiz Night and Fish and Chip Supper and Sunday, 8th December for our Christmas Cracker.</p>

	<p>In May we held a very enjoyable Club dinner at Banstead DownsGolf Club which was attended by some 30 members and guests. We hope to hold a similar event next Spring and that more members will wish to attend.</p>
</article>

<article>
	<h3>Internal Competitions</h3>

	<p>Various internal competitions are underway for both Croquet and Bowls. The first one completed was the Golf Croquet Level Doubles which took place last Saturday. It was won by Ken Hughes and Mary Lane, with Ruth Williams and Peggy Gill as runners up. Both pairs won 3 of their 4 matches but Ken and Mary prevailed on number of hoops run (25 – 22).</p>
</article>

<article>
	<h3>Club Matches</h3>

	<p>So far this year we have played 3 Friendly Golf Croquet Matches against other clubs. We won the match against Purley Bury 7 – 3, with 5 games drawn when their time was up. We narrowly lost to Reigate Priory 4 - 6 and rather more comprehensively to Merton 1 – 8.</p>

	<p>We have entered the South East Croquet Federation’s Golf Croquet Handicap League for the first time this year and our first match is at home against Parsons Green on 19th July. Each Club entered in the league plays 4 matches during the season.</p>

	<p>The results of our league and other matches will be reported in the next Newsletter and posted on the noticeboard in the clubhouse.</p>
</article>