<h1>Links to Croquet Sites</h1>

<article>
	<p>The Croquet Association -</p>
	<ul>
		<li><a href="http://www.croquet.org.uk/">Croquet Association Home Page</a></li>

		<li><a href="http://www.croquet.org.uk/tournament">Croquet Association Events</a></li>
	</ul>
</article>

<article>
	<p>South East Croquet -</p>
	<ul>
		<li><a href="http://www.southeastcroquet.org.uk/">South East Croquet</a></li>
	</ul>
</article>

<article>
	<p>Croquet Academy -</p>
	<ul>
		<li><a href="http://www.thecroquetacademy.com/">Croquet Academy</a></li>
	</ul>
</article>

<article>
	<p>Croquet Equipment -</p>
	<ul>
		<li><a href="http://www.oxfordcroquet.com/equip/">Mallets, etc</a></li>
		<li><a href="http://www.bowlsdirect.com/contact.htm">Whites</a></li>
	</ul>
</article>

<article>
	<p>Croquet Glossary -</p>
	<ul>
		<li><a href="http://cornwall-croquet.org.uk/croquet_glossary.htm">Croquet Glossary</a></li>
	</ul>
</article>

<article>
	<p>Croquet Rules -</p>
	<ul>
		<li><a href="http://www.croquet.org.uk/association/laws/basic_aclaws.html">Association Rules</a></li>
		<li><a href="http://www.croquet.org.uk/?p=golf/laws/basic_gclaws.html">Golf Rules</a></li>
	</ul>
</article>
