<h1>Links to Croquet Sites</h1>

<article>
	<h3>The Croquet Association -</h3>
	<ul>
		<li><h5><a href="http://www.croquet.org.uk/">Croquet Association Home Page</a></h5></li>

		<li><h5><a href="http://www.croquet.org.uk/tournament">Croquet Association Events</a></h5></li>
	</ul>
</article>

<article>
	<h3>South East Croquet -</h3>
	<ul>
		<li><h5><a href="http://www.southeastcroquet.org.uk/">South East Croquet</a></h5></li>
	</ul>
</article>

<article>
	<h3>Croquet Academy -</h3>
	<ul>
		<li><h5><a href="http://www.thecroquetacademy.com/">Croquet Academy</a></h5></li>
	</ul>
</article>

<article>
	<h3>Croquet Equipment -</h3>
	<ul>
		<li><h5><a href="http://www.oxfordcroquet.com/equip/">Mallets, etc</a></h5></li>
		<li><h5><a href="http://www.bowlsdirect.com/contact.htm">Whites</a></h5></li>
	</ul>
</article>

<article>
	<h3>Croquet Glossary -</h3>
	<ul>
		<li><h5><a href="http://cornwall-croquet.org.uk/croquet_glossary.htm">Croquet Glossary</a></h5></li>
	</ul>
</article>

<article>
	<h3>Croquet Rules -</h3>
	<ul>
		<li><h5><a href="http://www.croquet.org.uk/association/laws/basic_aclaws.html">Association Rules</a></h5></li>
		<li><h5><a href="http://www.croquet.org.uk/?p=golf/laws/basic_gclaws.html">Golf Rules</a></h5></li>
	</ul>
</article>
