<h1>Links to Croquet Sites</h1>

<article>
	<h2>The Croquet Association -</h2>
	<ul>
		<li><h4><a href="http://www.croquet.org.uk/">Croquet Association Home Page</a></h4></li>

		<li><h4><a href="http://www.croquet.org.uk/tournament">Croquet Association Events</a></h4></li>
	</ul>
</article>

<article>
	<h2>South East Croquet -</h2>
	<ul>
		<li><h4><a href="http://www.southeastcroquet.org.uk/">South East Croquet</a></h4></li>
	</ul>
</article>

<article>
	<h2>Croquet Academy -</h2>
	<ul>
		<li><h4><a href="http://www.thecroquetacademy.com/">Croquet Academy</a></h4></li>
	</ul>
</article>

<article>
	<h2>Croquet Equipment -</h2>
	<ul>
		<li><h4><a href="http://www.oxfordcroquet.com/equip/">Mallets, etc</a></h4></li>
		<li><h4><a href="http://www.bowlsdirect.com/contact.htm">Whites</a></h4></li>
	</ul>
</article>

<article>
	<h2>Croquet Glossary -</h2>
	<ul>
		<li><h4><a href="http://cornwall-croquet.org.uk/croquet_glossary.htm">Croquet Glossary</a></h4></li>
	</ul>
</article>

<article>
	<h2>Croquet Rules -</h2>
	<ul>
		<li><h4><a href="http://www.croquet.org.uk/association/laws/basic_aclaws.html">Association Rules</a></h4></li>
		<li><h4><a href="http://www.croquet.org.uk/?p=golf/laws/basic_gclaws.html">Golf Rules</a></h4></li>
	</ul>
</article>
