<h1>News Letters</h1>

<% @current = 0 %>

<article id="news_letters">
	<% @letters.each do |pdf| %>
		<% if @current != pdf.date.year %>
			<% @current = pdf.date.year %>
			<h3><%= @current %></h3>
		<% end %>

        <p>
			<h5><%= link_to pdf.title, pdf.pdf.to_s %></h5>
        </p>
	<% end %>
</article>
