<h1>News Letters</h1>

<article id="news_letters">
	<% @grouped.each do |year, newsletters| %>
        <section>
    		<h3><%= year %></h3>

            <% newsletters.each do |pdf| %>
                <p>
        			<h5><%= link_to pdf.title, pdf.pdf.to_s %></h5>
                </p>
            <% end %>
        </section>
	<% end %>
</article>
