<h1>News Letters</h1>

<article id="news_letters">
	<% @letters.each do |pdf| %>
	<section>
		<h2><%= pdf.title %></h2>
		<p>
			<%= link_to "Download", pdf.pdf.to_s %>
		</p>
		<p>
			<%= pdf.date %>
		</p>
	</section>
	<% end %>
</article>
