<h1><%= @title %></h1>

<article id="events">
	<% @events.each do |event| %>
        <%= render 'event', event: event %>
	<% end %>
</article>

<article id="past_events">
    <h2>Past Events - </h2>
    <% @past_events.each do |event| %>
        <%= render 'event', event: event %>
    <% end %>
</article>

<button id="toggle_events">Click here to show past events</button>
