<h2>Success!</h2>
<p><%= @lawn.description %> has been succesfully booked for <%= @booking.date.to_formatted_s(:long) %> at <%= @booking.time.to_formatted_s(:time) %>.</p>
<%= link_to "Book another Lawn", book_a_lawn_path %>