/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 */

.container
{
    -webkit-border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    min-width: 650px;
    max-width: 1000px;
    width: 70%;
    padding: 15px;
    border-style:solid;
    border-width:2px;
    border-color:#222d45;
    font-family: "Verdana";

    background-color: #FDF3E7;
}

body
{
    background-color: #C63D0F;
}

h1
{
    text-decoration: underline;
}

section
{
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}

header
{
    height:auto;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

header img
{
    float: left;
    max-width:120px;
    max-height: auto;
}

header h1
{
    text-decoration: none;
    font-weight: bolder;
    font-size: 3em;
    margin-top: 10px;
}

header h3
{
    font-size: 1em;
}

nav
{  
    overflow:hidden;
    font-weight: bold;
    background-color: #3B3738;
    margin-bottom: 10px;
}

nav a
{
    display:block;
    width:165px;
    text-align:center;
    padding: 5px;
    padding-bottom: 9px;
}

nav ul
{
    margin-top: 0px;
}

nav ul li
{    
    display: inline;
} 

nav ul li a
{    
    float: left;
    color: white;
    background-color: #3B3738;
}

nav ul li a:visited
{    
    color: white;
} 

nav ul li a:hover
{    
    background-color:#0b75b2;
}

a:visited
{
    color: blue;
}

footer
{
    text-align: center;
    font-size: 0.75em;
}