/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container
{
    -webkit-border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    padding: 10px;
    background-color:#E8E8E8;
    border-style:solid;
    border-width:2px;
    border-color:#222d45;
}

section
{
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}

header
{
    height:100px;
    background: url(cheam_croquet_logo_small.jpg) top left no-repeat;
    background-size: contain;
    text-align: center;
    font-family: "Verdana";
    font-size: 16px;
    margin-bottom: 5px;
}

header h3
{
    font-size: 17px;
}

nav
{  
    overflow:hidden;
    font-size: 17px;
    background-color: #333;
    margin-bottom: 10px;
}

nav a
{
    display:block;
    width:165px;
    text-align:center;
    padding: 5px;
    padding-bottom: 9px;
}

nav ul li
{    
    display: inline;
} 

nav ul li a
{    
    float: left;
    color: white;
    background-color: #333;
}

nav ul li a:visited
{    
    color: white;
} 

nav ul li a:hover
{    
    background-color:#0b75b2;
}