nav
{  
    overflow:hidden;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #3B3738;
    margin-bottom: 10px;
}

nav a
{
    display:block;
    width:165px;
    text-align:center;
    padding: 5px;
    padding-bottom: 9px;
}

nav ul
{
    margin-top: 0px;
}

nav ul li
{    
    display: inline;
} 

nav ul li a
{    
    float: left;
    color: white;
    background-color: #3B3738;
}

nav ul li a:visited
{    
    color: white;
} 

nav ul li a:hover
{    
    background-color:#0b75b2;
}