nav
{  
    overflow:hidden;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #3B3738;
    margin-bottom: 10px;

    ul
    {
        margin-top: 0px;

        li
        {    
            display: inline;

            a
            {  
                float: left;
                color: white;
                background-color: #3B3738;
                display:block;
                width:165px;
                text-align:center;
                padding: 5px;
                padding-bottom: 9px;
            }

            a:visited
            {    
                color: white;
            } 

            a:hover
            {    
                background-color:#0b75b2;
            }
        }
    }
}