<header id="page_header" role="banner">
    <%= image_tag "cheam_croquet_logo_small.jpg", alt: "Logo" %>
	<h1>Cheam Croquet &amp; Bowls Club</h1>
    <h3>It's not just a Croquet and Bowls Club, it's the Cheam Croquet and Bowls Club.</h3>
</header>